@media screen and (max-width: 768px) {
  .subheading {
    font-size: 14px !important;
    margin: 10px 10px 0 !important;
  }
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 40px;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 70px;
  }
}
.text-icon {
  font-family: monospace, Helvetica, Arial, sans-serif !important;
  font-size: 0.8em !important;
  font-weight: bold !important;
}

footer {
  font-size: 15px !important;
  padding: 0px !important;
}

.flex-grid {
  display: flex;
  padding: 10px 0;
  width: 100%;
  justify-content: space-evenly;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

.card{
  /* border-radius: 4px; */
  background: #fff;
  /* box-shadow: 0 6px 10px rgba(0,0,0,.16), 0 0 6px rgba(0,0,0,.10); */
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* padding: 14px 80px 18px 36px; */
  cursor: pointer;
  background-size: cover;
  margin: 3vw 8vw 1vw 16vw;
  width: 23vw;
  height: 23vw;
}

.card:hover{
  transform: scale(1.03);
  /* box-shadow: 0 10px 20px rgba(0,0,0,.24), 0 4px 8px rgba(0,0,0,.12); */
}
.card-description{
  /* position: absolute;
  top: 0px;
  left:0px;
  right: 0px; */
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
  color: black;
  padding: 5px;
  width: 40vw;
  margin: auto auto auto 0;
  min-width:340px;
  min-height:200px;
  font-size:1.5rem;

  /* text-align: right; */
  /* background-color: #00000090; */
}
.card-description h4{
  font-size:2rem
}
.card-inner-description {
  display:none;
  position: absolute;
  right: 0px;
  bottom:0px;
  font-size:1.5rem;
  color:white;
  width: 100%;
  background-color:#222222;
}

hr.solid{
  border-top: 2.5px solid #111;
  width: 100%;
  margin: 0;
}
.card-detail{
  margin: 0;
}

.card-date {
  text-align: left;
  margin-bottom:0px;
  margin-top:20px;
}

@media (max-width: 800px) {
  .card{

    background: #fff;
   
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

    cursor: pointer;
    background-size: cover;
    margin: 30px auto 10px auto;
    width: 87vw;
    height: 60vw;

  }
  .card-description{
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
    color: black;
    padding: 5px;
    font-size: 1rem;
    width: 87vw;
    margin: auto;
    min-width:340px;
    min-height:200px;

  }
}
/* @media (max-width: 600px) {
  .flex-grid {
    flex-direction: column;
    align-items: center;
    padding:0px;
  }
  .card {
    width: 90%;
    height:200px;
    margin:3vw
  }
  .detail{
    display: none;
  }
  .card-description{
    display:none;
    width:auto;
  }
  .card-inner-description {
    display: block;
    padding:0 15px;
    text-align: right;
  }
  hr.solid{
    display: none;
  }
} */
