---
layout: default
---

<div class="posts">
    <ul>
        {% for post in paginator.posts %}
            <!-- {% if post.tags contains "archive" %} -->
            <!-- {% else %} -->
            <li><a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}</a><time datetime="{{ post.date | date_to_xmlschema }}">
                {{ post.date | date: "%B %-d" }}</time></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous"><</a>
        {% else %}
        <!-- <span class="previous"></span> -->
        {% endif %}
        <!-- <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
        </span> -->
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">></a>
        {% else %}
        <!-- <span class="next ">></span> -->
        {% endif %}
    </div>
</div>