<script src="https://giscus.app/client.js"
        data-repo="john-walks-slow/john-walks-slow.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNjIwNTE2MjM="
        data-category="Announcements"
        data-category-id="DIC_kwDOD56XJ84CbqOK"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>