---
layout: default
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div
      class="col-lg-2 col-md-2 col-lg-push-10 col-md-push-10 col-sm-12 col-xs-12 sidebar-container"
    >
      <br />
      <!-- Featured Tags -->
      {% include featured-tags.html %}
      <!-- Friends Blog -->
      <!-- {% include friends.html %} -->
    </div>
    <div
      class="col-lg-10 col-md-10 col-lg-pull-2 col-md-pull-2 col-sm-12 col-xs-12 postlist-container"
    >
      {% include posts.html %} {% include pager.html %}
    </div>
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    TeX: {
      equationNumbers: {
        autoNumber: "AMS"
      }
    },
    tex2jax: {
      inlineMath: [ ['$','$'] ],
      displayMath: [ ['$$','$$'] ],
      processEscapes: true,
    }
  });
</script>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
></script>
{% endif %}
